html {
  background-color: #aaaaaa;
}
.App {
  text-align: center;
}
.friend-container{
  background-color: #696969;
  padding: 1rem;
}

.profile-container {
  width: 600px;
  background-color: #d6d6d6;
  padding: 1rem;
  margin: auto;
  margin-top: 4rem;
  position: relative;
}

.profile-name {
  font-size: 1.6rem;
}

.profile-image {
  border: 3px solid #818181;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.profile-container::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #e48f8f;
}

.profile-icons {
  width: 400px;
  border-top: 2px solid #e48f8f;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-icons span{
  cursor: pointer;
}

.profile-text {
  font-size: 1.5rem;
}

.profile-btn {
  width: 400px;
  margin: 1rem;
  padding: .5rem;
  font-size: 2rem;
  cursor: pointer;
}

.dog-gallery {
  padding: 1rem;
  background-color: #818181;
}

.dog-gallert-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dog-img-container {
  width: 300px;
  height: 225px;
  padding: .3rem;
  background-color: #979797;
  margin: .3rem;
}

.dog-img-container img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.joke-container {
  background-color: #a0a0a0;
  padding: 1rem;
}